body {
    background-color: #f4f7fc;
    padding: 0;
    margin: 0;
}
section {
    background-color: #fff;

}


.blue-table-row {
    background-color: #e6f4ff;
    background-color: #fafafa;
    /* border: px solid #3a91fa; */
    /* border-color: #3a91fa; */
}

.course-list-item:hover { 
    background-color: #fafafa;
}

.ant-upload-select{
    width: 100%;
}

.ant-timeline-item-head {
    background-color: #f4f7fc !important;
}

.ant-list-item:hover {
    background-color: #fafafa;
    box-shadow: 0 0 4px #eee;
}