body {
    background-color: #f4f7fc;
}
section {
    background-color: #fff;

}


.blue-table-row {
    background-color: #e6f4ff;
    /* border: px solid #3a91fa; */
    /* border-color: #3a91fa; */
}